<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

 <!--== Start Login Area Wrapper ==-->
    <section class="account-login-area">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8 col-lg-7 col-xl-6">
            <div class="login-register-form-wrap">
              <div class="login-register-form">
                <div class="form-title">
                  <h4 class="title">Sign In</h4>
                </div>


                <form action="" method="post">

                        <div class="form-group">
                               {%csrf_token%}
                  {{form.as_p}}
                        <button type="submit" class="btn-theme" href="{%url 'home'%}">Sign In</button>
                      </div>

                </form>


                <div class="login-register-form-info">
                  <p>Don't you have an account? <a href="{%url 'signup'%}">Register</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Login Area Wrapper ==-->

</body>
</html>